@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primero: #111111;
  --segundo: #2d1b0e;
  --tercero: #5a3014;
  --cuarto: #8c5e35;
  --quinto: #c29a6a;
  --sexto: #f5f1e8;

  --swiper-theme-color: var(--cuarto) !important;
  --swiper-scrollbar-bg-color: var(--cuarto);
  --swiper-scrollbar-drag-bg-color: var(--quinto);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primero);
  color: var(--quinto);
}

.textShadow {
  text-shadow: 1px 1px 1px var(--tercero), 1px 2px 1px var(--tercero),
    1px 3px 1px var(--tercero), 1px 4px 1px var(--tercero),
    1px 5px 1px var(--tercero), 1px 6px 1px var(--tercero),
    1px 7px 1px var(--tercero), 1px 8px 1px var(--tercero),
    1px 9px 1px var(--tercero), 1px 10px 1px var(--tercero),
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.shadow-text {
  color: var(--sexto);
  /* background: #FFFCA8; */
  text-shadow: var(--tercero) 2px 2px 0px, var(--primero) 4px 4px 0px;
}

.ochent {
  color: var(--sexto);
  /* background: #ffffff; */
  text-shadow: 3px 3px 1px var(--tercero), 6px 6px 0 var(--segundo);
}

.textStroke {
  background: -webkit-linear-gradient(
    -86deg,
    #eef85b 5%,
    #7aec8d 53%,
    #09e5c3 91%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  scrollbar-width: auto;
  scrollbar-color: var(--tercero) var(--primero);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--primero);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--tercero);
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TEXT SHADOW */
.shadow-cuarto {
  text-shadow: 0 0 1px var(--cuarto), 0 0 5px var(--cuarto),
    0 0 10px var(--cuarto), 0 0 20px var(--cuarto);
}
.shadow-cuarto-sm {
  text-shadow: 0 0 5px var(--cuarto);
}
.shadow-quinto-xs {
  text-shadow: 0 0 1px var(--quinto), 0 0 20px var(--quinto);
}
.shadow-quinto-xs:hover {
  text-shadow: none;
}
.shadow-quinto-xs:active {
  text-shadow: none;
}
.shadow-quinto {
  text-shadow: 0 0 1px var(--quinto), 0 0 5px var(--quinto),
    0 0 10px var(--quinto), 0 0 20px var(--quinto), 0 0 40px var(--quinto),
    0 0 60px var(--quinto), 0 0 10px var(--quinto), 0 0 98px var(--quinto);
}
.shadow-quinto-sm {
  text-shadow: 0 0 5px var(--quinto);
}
.shadow-sexto-sm {
  text-shadow: 0 0 5px var(--sexto);
}

/* TEXT STROKE */
.text-stroke {
  -webkit-text-stroke: 1px var(--quinto);
}

/* BOX SHADOW */
.box-shadow-cuarto {
  box-shadow: 0 0 20px 10px var(--cuarto);
}
.box-shadow-cuarto-xs {
  box-shadow: 0 0 5px 2px var(--cuarto);
}
.box-shadow-quinto {
  box-shadow: 0 0 20px 10px var(--quinto);
}
.box-shadow-quinto-xs {
  box-shadow: 0 0 5px 2px var(--quinto);
}

.about-shadow {
  -webkit-box-shadow: 6px 0px 13px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 0px 13px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 0px 13px 1px rgba(0, 0, 0, 0.75);
}

.segundoButtonShadow {
  box-shadow: 0px 5px 15px 2px var(--segundo);
}

.segundoButtonShadowHover:hover {
  box-shadow: 0px 0px 10px 10px var(--segundo);
}

.box-shadow-black {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}

/* SVG SHADOW */
.quinto-svg {
  filter: drop-shadow(0 0 1px var(--quinto)) drop-shadow(0 0 5px var(--quinto))
    drop-shadow(0 0 10px var(--quinto));
}
.quinto-svg-sm {
  filter: drop-shadow(0 0 5px var(--quinto));
}
.cuarto-svg {
  filter: drop-shadow(0 0 1px var(--cuarto)) drop-shadow(0 0 5px var(--cuarto))
    drop-shadow(0 0 10px var(--cuarto));
}
.cuarto-xs-svg {
  filter: drop-shadow(0 0 5px var(--cuarto));
}

/* SWIPER CSS */
.linearSlider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: var(--swiper-scrollbar-bottom, auto) !important;
}

.swiper-button-prev,
.swiper-button-next {
  /* color: var(--rojo); */
  color: var(--cuarto);
}
.swiper-pagination-bullet-active {
  /* background: var(--rojo) !important; */
  background: var(--cuarto) !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}
.swiper-slide.grid {
  display: grid !important;
}

@media (max-width: 767px) {
  .mobileNavigationBtn .swiper-button-prev {
    left: -5px;
  }

  .mobileNavigationBtn .swiper-button-prev::after {
    font-size: 35px;
  }

  .mobileNavigationBtn .swiper-button-next {
    right: -5px;
  }

  .mobileNavigationBtn .swiper-button-next::after {
    font-size: 35px;
  }
}
